<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="20001"
    android:versionName="2.0.1"
    android:hardwareAccelerated="true"
    package="com.embeddedSystemsQuiz.embeddedSystemsQuiz"
    platformBuildVersionCode="20001"
    platformBuildVersionName="2.0.1">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26" />

    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="@ref/0x7f070002"
        android:icon="@ref/0x7f060000"
        android:hardwareAccelerated="true"
        android:supportsRtl="true">

        <activity
            android:theme="@ref/0x01030129"
            android:label="@ref/0x7f070001"
            android:name="com.embeddedSystemsQuiz.embeddedSystemsQuiz.MainActivity"
            android:launchMode="1"
            android:screenOrientation="1"
            android:configChanges="0x4b4"
            android:windowSoftInputMode="0x10">

            <intent-filter
                android:label="@ref/0x7f07001b">

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@ref/0x0103000f"
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="0xfb0" />

        <activity
            android:theme="@ref/0x7f080000"
            android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" />

        <activity
            android:theme="@ref/0x01030010"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@ref/0x7f050000" />

        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="1" />
    </application>
</manifest>
